html{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #8D6B94;
        text-align: center;

}

body{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
border: solid #E8DBC5 20px;
width: 300px;
background-color: #B185A7;

}

img{
       width: 250px;
       height: 150px;
}

#thatbutton{
        width: 150px;
        height: 100px;
        border-radius:25px ;
        background-color: #C3A29E ;

}